<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ync.project.mapper.BoardMapper">

<!-- 글쓰기기능 글번호는 자동으로 매겨주고 나머지정보는 입력값을 저장 -->
<insert id="create">
	INSERT INTO tb_free_board (free_board_num, free_board_title, free_board_cont, free_board_writer, user_id) 
	VALUES(SEQ_BOARD.NEXTVAL, #{free_board_title},#{free_board_cont}, #{free_board_writer}, #{user_id})
</insert>

<!-- 받아온 free_board_num값을 바탕으로 게시글의 정보를 불러옴 -->
<select id="read" resultType="BoardVO">
	SELECT  free_board_num,
	 		free_board_title,
	 		free_board_cont,
	 		free_board_writer,
	 		user_id
	FROM 	tb_free_board 
	WHERE	free_board_num = #{free_board_num}
</select>

<!-- 게시물 정보 수정 쿼리 -->
<update id="update">
	UPDATE tb_free_board SET 
	free_board_title =#{free_board_title}, 
	free_board_cont =#{free_board_cont}, 
	free_board_writer =#{free_board_writer} 
	WHERE free_board_num = #{free_board_num}
</update>

<!-- 게시물의 조회수를 자동으로 1씩 올려줌 -->
<update id="updateHits">
	update tb_free_board
	set FREE_BOARD_HITS = FREE_BOARD_HITS+1
	WHERE free_board_num = #{free_board_num}
</update>

<!-- 게시물 삭제 쿼리 -->
<delete id="delete">
	delete from tb_free_board where free_board_num = #{free_board_num}
</delete>

<!-- 게시물의 목록을 전부불러옴 -->
<select id="listAll" resultType="BoardVO">
	<![CDATA[
	SELECT 	free_board_num,
	 		free_board_title,
	 		free_board_cont,
	 		free_board_writer,
	 		free_board_date,
	 		free_board_hits,
	 		user_id
	FROM tb_free_board 
	WHERE free_board_num > 0 
	ORDER BY free_board_date DESC
	]]>  
</select>
 
 <!-- 페이징 -->

<select id="listPage"  resultType="BoardVO">
	<![CDATA[
	SELECT	free_board_num,
	 		free_board_title,
	 		free_board_cont,
	 		free_board_writer,
	 		free_board_date,
	 		free_board_hits
	FROM   (SELECT 	/*+INDEX_DESC(tb_free_board pk_board)*/
					rownum rn,
					free_board_num,
			 		free_board_title,
			 		free_board_cont,
			 		free_board_writer,
			 		free_board_date,
			 		free_board_hits
	  		FROM	tb_free_board
			WHERE	rownum <= #{page} * #{perPageNum}
			AND		free_board_num > 0
			)
	WHERE 	rn > (#{page} -1) * #{perPageNum}
	]]>
</select>

<select id="listCriteria" resultType="BoardVO">
	<![CDATA[
	SELECT	free_board_num,
	 		free_board_title,
	 		free_board_cont,
	 		free_board_writer,
	 		free_board_date,
	 		free_board_hits
	FROM   (SELECT 	/*+INDEX_DESC(tb_free_board pk_board)*/
					rownum rn,
					free_board_num,
					free_board_title,
			 		free_board_cont,
			 		free_board_writer,
			 		free_board_date,
			 		free_board_hits
	  		FROM	tb_free_board
			WHERE	rownum <= #{page} * #{perPageNum}
			AND		free_board_num > 0
			)
	WHERE 	rn > (#{page} -1) * #{perPageNum}
	]]>
</select>

<select id="countPaging" resultType="int">
	<![CDATA[
	SELECT	count(free_board_num) 
	FROM	tb_free_board 
	WHERE	free_board_num > 0 
	]]>
</select>


<!-- 검색기능 미구현 -->

<!-- 동적SQL (<sql>로 분리) 작성된 최종 SQL 시작-->
<sql id="search">
	<if test="searchType != null" >
		<if test="searchType == 't'.toString()">
			AND FREE_BOARD_TITLE LIKE '%'|| #{keyword}||'%'
		</if>
		<if test="searchType == 'c'.toString()">
			AND FREE_BOARD_CONT LIKE '%'|| #{keyword}||'%'
		</if>    
		<if test="searchType == 'tc'.toString()">
			AND (FREE_BOARD_TITLE LIKE '%'|| #{keyword}||'%' OR FREE_BOARD_CONT LIKE '%'|| #{keyword}||'%')
		</if>      
	</if>
</sql>

<select id="listSearch"  resultType="BoardVO">
	<![CDATA[
		SELECT		free_board_num,
					free_board_title,
			 		free_board_cont,
			 		free_board_writer,
			 		free_board_date,
			 		free_board_hits
		FROM   (SELECT 	/*+INDEX_DESC(tb_free_board pk_board)*/
						rownum rn,
						free_board_num,
						free_board_title,
				 		free_board_cont,
				 		free_board_writer,
				 		free_board_date,
				 		free_board_hits
		  		FROM	tb_free_board
	]]>
		<!--
		<where> 엘리먼트로 검색을 하지 않았을 경우 AND rownum <= 과 같이 WHERE 구문이 빠져버린다.
		따라서 <where> 를 사용하면 AND나 OR로 구문이 시작되면 AND나 OR를 지워버린다.
		아래 구문과 동일한 기능. 
		<trim prefix="WHERE" prefixOverrides="AND|OR ">
		  ... 
		</trim>
		http://www.mybatis.org/mybatis-3/ko/dynamic-sql.html 참고
		-->
		<where>
				<include refid="search"></include>
				<![CDATA[
				AND rownum <= #{page} * #{perPageNum}
				AND free_board_num > 0
		  		)
				]]>
		</where>
	<![CDATA[
		WHERE rn > (#{page} -1) * #{perPageNum}
	]]>
</select>

<select id="listSearchCount"  resultType="int">
	<![CDATA[
		SELECT	count(free_board_num)
		FROM	tb_free_board
	]]>
	
	<where>
		<include refid="search"></include>
		<![CDATA[
			AND free_board_num > 0
		]]>
	</where>
</select>
<!-- 동적SQL (<sql>로 분리) 작성된 최종 SQL 끝-->

</mapper>
