<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ync.project.mapper.UserMapper">

	<select id="login" resultType="UserVO">
		SELECT	*
		FROM	TB_USER
		WHERE	USER_ID = #{USER_ID}
		AND		USER_PW = #{USER_PW}
	</select>
  
	<update id="keepLogin" >
		UPDATE TB_USER SET sessionKey = #{sessionId}, sessionLimit = #{next} WHERE USER_ID = #{USER_ID}
	</update>

	<select id="checkUserWithSessionKey" resultType="UserVO">
		SELECT * FROM TB_USER WHERE	sessionKey = #{value} AND sessionLimit > SYSDATE
	</select>	

	<insert id ="insertMember">
    	INSERT into TB_USER (USER_ID, USER_PW, USER_EMAIL) values (#{USER_ID},#{USER_PW},#{USER_EMAIL})
	</insert>
	
	
	<select id="readMember">
		SELETE USER_ID, USER_EMAIL FROM TB_USER
	</select>
	
	
	<select id="listAll" resultType="UserVO">
		<![CDATA[
		SELECT 	USER_NUM,
		 		USER_ID,
		 		USER_EMAIL,
		 		USER_GRADE
		FROM 	TB_USER
		WHERE	USER_NUM > 0
		ORDER BY USER_NUM ASC, USER_GRADE ASC
		
		]]>
	</select>
	
	<delete id="deleteMember">
		delete from TB_USER where USER_NUM = #{USER_NUM}
	</delete>



	<select id="userlistPage" resultType="UserVO">
	<![CDATA[
	SELECT  USER_NUM, USER_ID, USER_EMAIL
	FROM   (SELECT 	rownum rn,
					USER_ID,
					USER_EMAIL
	  		FROM	TB_USER
			WHERE	rownum <= #{page} * #{perPageNum}
			AND		USER_NUM > 0
			)
	WHERE 	rn > (#{page} -1) * #{perPageNum}
	]]>
	</select>

	<select id="userlistCriteria" resultType="UserVO">
	<![CDATA[
	SELECT	USER_NUM, USER_ID, USER_EMAIL
	FROM   (SELECT  rownum rn,
					USER_ID,
					USER_EMAIL
	  		FROM	TB_USER
			WHERE	rownum <= #{page} * #{perPageNum}
			AND		USER_NUM > 0
			)
	WHERE 	rn > (#{page} -1) * #{perPageNum}
	]]>
	</select>

	<select id="usercountPaging" resultType="int">
	<![CDATA[
	SELECT	count(USER_NUM) 
	FROM	TB_USER 
	WHERE	USER_NUM > 0 
	]]>
	</select>
	
	<select id="userCheck" resultType="int">
		select count(USER_ID)
		from tb_user
		where USER_ID = #{USER_ID}
	</select>
	<insert id="userRegist">
	 	insert into tb_user (USER_ID, USER_PW, USER_EMAIL)
	 	 
	 	VALUES(#{USER_ID}, #{USER_PW}, #{USER_EMAIL})
	</insert>
</mapper>


