

/*************************
*******Typography******
**************************/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);


/*************************
*******Notice CSS******
**************************/
body {
  font-family: 'Roboto', sans-serif;
  background:;
  position: relative;
  font-weight:400px;
}

	
	
table.board-list {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;

}
table.board-list thead th {
	background-color:#DBA901;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #EFFBEF;
    border-bottom: 1px solid #F3F781;
    
}
table.board-list tbody th {
    width: 200px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    background: #f3f6f7;
    
}
table.board-list td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
    border-bottom: 1px solid #ccc;
    text-align: center;
  
}

.num {
	border-right:1px solid #F2F2F2;
	text-align: center;
	 width: 10%;
}
.title {
	border-right:1px solid #F2F2F2;
	text-align: center;
	width: 40%;
}
.write {
	border-right:1px solid #F2F2F2;
	text-align: center;
	width: 25%;
}
.date {
	text-align: center;
	width: 20%;
}


tbody tr:nth-child(2n) {
	background-color: #F2F5A9;
}

tbody tr:nth-child(2n+1) {
	background-color: #e3f2fd;
}

tbody tr:td-child(2) {
	text-align: left;
}

