<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="kr.ync.project.mapper.Product_regiMapper">

	<!-- 게시판 추가하기 -->
	<insert id="create">
		INSERT INTO TB_PRODUCT
		(PRO_NUM ,PRO_NAME, PRO_SITE, PRO_PRICE, PRO_PRICE3,
		 PRO_EXPLAN, PRO_BUY_HITS, PRO_HITS,FIRST_CAT_NUM, SECOND_CAT_NUM, 
		 THIRD_CAT_NUM, LAST_CAT_NUM,PRODUCT_DETAIL_NUM, PRO_URL, PRO_URL2, 
		 PRO_PRICE2, PRO_URL3)
		 
		VALUES(TB_SEQ_PRODUCT_NUM.NEXTVAL, #{PRO_NAME},#{PRO_SITE},#{PRO_PRICE},#{PRO_PRICE3},
		       #{PRO_EXPLAN}, TB_SEQ_PRODUCT_BUY_HITS.NEXTVAL , TB_SEQ_PRODUCT_HITS.NEXTVAL,1,1,
		       1, 1, 1, #{PRO_URL}, #{PRO_URL2}, 
		       #{PRO_PRICE2},#{PRO_URL3})

	</insert>
</mapper>


